.con {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px 0 10px;
}
.form-blk {
  display: flex;
  padding-bottom: 2px;
  overflow-x: auto;
  white-space: nowrap;
  flex: 1;
  width: 0;

  :global {
    .m9-form-list-form {
      .m9-form-list-item {
        margin-bottom: 0;
      }
    }
  }
}

.right {
  padding-left: 12px;
}
